/* ========= GLOBALL CSS ========= */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.mb-15 {
    margin-bottom: 15px;
}

.f-18 {
    font-size: 18px;
}

.f-12 {
    font-size: 12px;
}


/* =========== HEADER ========== */

#header {
    padding: 35px 0px;
    background-color: #fff;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
}

ul.main-menu li {
    display: inline-block;
    padding: 0px 17px;
}

ul.main-menu li a:not(.active) {
    display: block;
    color: #191919;
    text-transform: uppercase;
    font-size: 12px;
}

li a.active {
    display: block;
    color: #10c9c3;
    text-transform: uppercase;
    font-size: 12px;
}


/* ===================== SECTION ================== */


/* --------------------- BREAK -------------------- */

#light-break {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.light-break-text {
    padding: 0px 90px;
}

.break-title {
    font-size: 38px;
    color: #171717;
    font-weight: bold;
    margin-bottom: 25px;
}

.mb-25 {
    margin-bottom: 25px;
    font-size: 16px;
    color: #787878;
}

.light-break-text-author span {
    font-weight: bold;
}


/* ----------------- SLIDER ----------------- */

#slider {
    padding: 45px 0px;
}

#slider .container {
    display: flex;
    position: relative;
}

#slider p {
    text-transform: uppercase;
    font-size: 12px;
    color: #1d1d1d;
    font-weight: bold;
}

.icon {
    position: absolute;
    left: 50%;
    margin-left: -15px;
}

.next {
    position: absolute;
    right: 0px;
}

.previous .fas {
    padding-right: 5px;
}

.next .fas {
    padding-left: 5px;
}


/* ========== FOOTER  ============== */

#footer {
    background-color: #141414;
    padding: 70px 0px;
}

.copy-right {
    flex: 1 1 55%;
}

.contact {
    flex: 1 1 45%;
}

.piroll {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
}

.color-grey {
    color: #bcbcbc;
    font-size: 15px;
}

.email-phone {
    margin-right: 50px;
}

.services {
    margin-right: 30px;
}

.news {
    margin-right: 50px;
}